/* Email validation styles */
.error-message,
.error {
  color: var(--color-error-states);
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--font-mobile-size-xs);
}

/* Hero section styles */
.hero {
  width: auto;
  position: relative;
  top: -8.25rem;
}

.hero__form-content {
  position: relative;
  top: 9.6875rem;
}

.hero__form-title {
  margin-left: 0.625rem;
  position: relative;
  top: 5rem;
  color: var(--color-text-secondary);
  font-size: var(--font-mobile-size-lg);
  z-index: 2;
  width: 14.625rem;
}

#hero__form-description {
  margin-left: 0.625rem;
  position: relative;
  top: 4.925rem;
  color: var(--color-text-secondary);
  z-index: 2;
  width: 16.125rem;
  height: 8.75rem;
  font-size: var(--font-mobile-size-sm);
}

h2 {
  color: var(--color-primary);
  text-align: center;
  position: relative;
  width: 15rem;
}

.hero__form-image {
  width: 100%;
  height: auto;
  position: relative;
  top: -3.175rem;
}

/* Contact form styles */

.contact__form-container {
  position: relative;
  top: 9.625rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  background-color: #fff;
  text-align: center;
  max-width: 15.625rem;
  width: auto;
}

.contact-form {
  max-width: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  position: relative;
  width: 100%;
  padding: 1.25rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  max-width: 12.5rem;
  border-radius: 0.625rem;
}

input {
  border-radius: 6.25rem;
  width: 12.5rem;
  height: 1.875rem;
  border: none;
  outline: none;
  background: var(--color-text-secondary);
  background-color: var(--color-bg-tertiary);
}

input:focus {
  font-size: var(--font-mobile-size-xs);
}

input::placeholder,
textarea::placeholder {
  font-size: var(--font-mobile-size-xs);
  font-family: "Red Hat Display", sans-serif;
  position: relative;
  left: 0.3125rem;
}

.input-container,
textarea,
#send-button {
  margin-top: 0.0625rem;
  padding: 0.1875rem;
}

textarea {
  border-radius: 0.625rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  width: 12.5rem;
  height: 6.25rem;
  resize: none;
  outline: none;
  border: none;
  overflow-x: hidden;
  background-color: var(--color-bg-tertiary);
}

#send-button {
  border-radius: 6.25rem;
  width: 10.625rem;
  height: 1.875rem;
  background: none;
  border: none;
  font-weight: 400;
  font-family: "Signika", sans-serif;
  padding: 0;
  color: var(--color-text-secondary);
  background: var(--background-gradient);
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: #007bff;
}

#clients_contact {
  margin-top: 28.125rem;
}

/* Screen tablets styles */

@media (min-width: 768px) {
  #hero-section {
    top: 2.5rem;
  }

  .hero__form-image {
    position: relative;
    top: -21.875rem;
  }

  .hero__form-title {
    top: -2.5rem;
    margin-left: 3.125rem;
    font-size: var(--font-tablet-size-xl);
    width: 34.375rem;
  }

  #hero__form-description {
    position: relative;
    top: -0.625rem;
    width: 27.5rem;
    margin-left: 3.125rem;
    font-size: var(--font-mobile-size-lg);
  }

  .contact__form-container {
    top: 62.1875rem;
    scale: 1.5;
  }

  #clients_contact {
    margin-top: 34.375rem;
  }
}

/* Styles for Large Tablets and Small Laptops */

@media (min-width: 1024px) {
  #hero-section {
    top: -3.125rem;
  }

  .hero__form-image {
    position: relative;
    top: -28.75rem;
  }

  .hero__form-title {
    top: -0.625rem;
    font-size: var(--font-desktop-size-xl);
    width: 39.375rem;
  }

  .contact__form-container {
    top: 69.6875rem;
  }

  #hero__form-description {
    position: relative;
    top: 1.1rem;
    width: 48.75rem;
    font-size: var(--font-desktop-size-lg);
  }

  #clients_contact {
    margin-top: 0rem;
  }
}

/* HD Screen Styles */

@media (min-width: 1280px) {
  .hero__form-title {
    font-size: var(--font-desktop-hd-size-xxl);
  }

  #hero__form-description {
    font-size: var(--font-desktop-hd-size-md);
  }

  #clients_contact {
    margin-top: 43.75rem;
  }
}

/* FHD Screen Styles */

@media (min-width: 1920px) {
  .hero__form-image {
    top: -35rem;
  }

  .hero__form-title {
    top: 10rem;
    font-size: var(--font-desktop-size-xl);
    width: 50.625rem;
    margin-left: 10rem;
  }

  #hero__form-description {
    position: relative;
    top: 11.875rem;
    width: 50.625rem;
    font-size: var(--font-desktop-size-lg);
    margin-left: 10rem;
  }

  .contact__form-container {
    top: 94.6875rem;
    scale: 2;
  }

  #clients_contact {
    margin-top: 75rem;
  }
}

/* QHD Screen Styles */

@media (min-width: 2560px) {
  .hero__form-content {
    top: 28.75rem;
  }

  .hero__form-image {
    top: -41.25rem;
  }

  .hero__form-title {
    margin-left: 28.75rem;
  }

  #hero__form-description {
    width: 48.125rem;
    margin-left: 28.75rem;
  }

  .contact__form-container {
    top: 113.4375rem;
  }

  #clients_contact {
    margin-top: 62.5rem;
  }
}

/* 4K Screen Styles */

@media (min-width: 3840px) {
  .hero__form-content {
    top: 55.625rem;
  }

  .contact__form-container {
    top: 182.1875rem;
  }
}
