.error-message {
  /* Email validation styles */
  color: var(--color-error-states);
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--font-mobile-size-xs);
}

.error {
  /* Email validation styles */
  border: 1px solid var(--color-error-states);
}

.hero {
  width: auto;
  position: relative;
  top: -132px;
}

.hero__form-content {
  position: relative;
  top: 155px;
}

.hero__form-title {
  margin-left: 10px;
  position: relative;
  top: 80px;
  color: var(--color-text-secondary);
  font-size: var(--font-mobile-size-lg);
  z-index: 2;
  width: 170px;
}

#hero__form-description {
  margin-left: 10px;
  position: relative;
  top: 90px;
  color: var(--color-text-secondary);
  z-index: 2;
  width: 210px;
  height: 140px;
  font-size: var(--font-mobile-size-sm);
}

h2 {
  color: var(--color-primary);
  text-align: center;
  position: relative;
  width: 240px;
}

.hero__form-image {
  width: 100%;
  height: auto;
  position: relative;
  top: -30px;
}

.contact__form-container {
  position: relative;
  top: 134px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  max-width: 250px;
  width: auto;
}

.contact-form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  max-width: 200px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

input {
  border-radius: 100px;
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  background: var(--color-text-secondary);
  background-color: var(--color-bg-tertiary);
}

input:focus {
  font-size: var(--font-mobile-size-xs);
}

input::placeholder,
textarea::placeholder {
  font-size: var(--font-mobile-size-xs);
  font-family: "Red Hat Display", sans-serif;
  position: relative;
  left: 5px;
}

.input-container,
textarea,
#send-button {
  margin-top: 1px;
  padding: 3px;
}

textarea {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 100px;
  resize: none;
  outline: none;
  border: none;
  overflow-x: hidden;
  background-color: var(--color-bg-tertiary);
}

#send-button {
  border-radius: 100px;
  width: 170px;
  height: 30px;
  background: none;
  border: none;
  font-weight: 400;
  font-family: "Signika", sans-serif;
  padding: 0;
  color: var(--color-text-secondary);
  background: var(--background-gradient);
  background: var(--background-gradient-linear);
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: #007bff;
}

#clients_contact {
  margin-top: 350px;
}

@media (min-width: 768px) {
  .hero {
    top: 5px;
  }

  .hero__form-image {
    position: relative;
    top: -350px;
  }

  .hero__form-title {
    top: -40px;
    margin-left: 50px;
    font-size: var(--font-tablet-size-xl);
    width: 400px;
  }

  #hero__form-description {
    position: relative;
    top: -10px;
    width: 410px;
    margin-left: 50px;
    font-size: var(--font-mobile-size-lg);
  }

  .contact__form-container {
    top: 895px;
    scale: 1.5;
  }

  #clients_contact {
    margin-top: 350px;
  }
}

@media (min-width: 1024px) {
  .hero {
    top: -45px;
  }

  .hero__form-image {
    position: relative;
    top: -400px;
  }

  .hero__form-title {
    top: 20px;
    font-size: var(--font-desktop-size-xl);
    width: 630px;
  }

  #hero__form-description {
    position: relative;
    top: 40px;
    width: 780px;
    font-size: var(--font-desktop-size-lg);
  }

  #clients_contact {
    margin-top: 0px;
  }
}

@media (min-width: 1280px) {
  .hero {
    top: -95px;
  }

  .hero__form-content {
    top: 325px;
  }

  .hero__form-title {
    font-size: var(--font-desktop-hd-size-xxl);
  }

  #hero__form-description {
    font-size: var(--font-desktop-hd-size-md);
  }

  .contact__form-container {
    margin-top: 30px;
    top: 1255px;
    scale: 1.7;
  }

  #clients_contact {
    margin-top: 700px;
  }
}

@media (min-width: 1920px) {
  .hero__form-image {
    top: -560px;
  }

  .hero__form-title {
    top: 160px;
    font-size: var(--font-desktop-size-xl);
    width: 810px;
    margin-left: 160px;
  }

  #hero__form-description {
    position: relative;
    top: 190px;
    width: 810px;
    font-size: var(--font-desktop-size-lg);
    margin-left: 160px;
  }

  .contact__form-container {
    top: 1515px;
    scale: 2;
  }
}

@media (min-width: 2560px) {
  .hero__form-content {
    top: 460px;
  }

  .hero__form-image {
    top: -660px;
  }

  .hero__form-title {
    margin-left: 460px;
  }

  #hero__form-description {
    width: 770px;
    margin-left: 460px;
  }

  .contact__form-container {
    top: 1315px;
  }
}

@media (min-width: 3840px) {
  .hero__form-content {
    top: 890px;
  }

  .contact__form-container {
    top: 2115px;
  }
}
