/* Resetting margins for all elements */
* {
  margin: 0;
}

/* Removing underline from links within unordered lists */
a,
ul li a {
  text-decoration: none;
}

/* Setting text alignment to left for 'hero' and 'p' elements */
.hero,
p {
  text-align: left;
}

/* Styling for 'hero__description', 'hero__title', and 'nav' */
#hero__description,
.hero__title {
  position: relative;
  color: var(--color-text-secondary);
  z-index: 2;
}

/* Adding 'position: relative' to multiple elements */
#hero__description,
.hero,
.hero__content,
.hero__title,
nav {
  position: relative;
}

/* Styling for 'contact-me-button', 'hero__description', and 'hero__title' */
#contact-me-button,
#hero__description,
.hero__title {
  color: var(--color-text-secondary);
}

/* Define custom CSS variables */
:root {
  /* Font Sizes for Mobile Devices */
  --font-mobile-size-xs: 0.625rem;
  --font-mobile-size-sm: 0.75rem;
  --font-mobile-size-md: 0.875rem;
  --font-mobile-size-lg: 1.5625rem;
  --font-mobile-size-xl: 3.75rem;

  /* Font Sizes for Tablet Devices */
  --font-tablet-size-sm: 0.9375rem;
  --font-tablet-size-md: 2.1875rem;
  --font-tablet-size-lg: 2.5rem;
  --font-tablet-size-xl: 3.75rem;

  /* Font Sizes for Desktop Devices */
  --font-desktop-size-xs: 1.125rem;
  --font-desktop-size-sm: 1.5rem;
  --font-desktop-size-md: 1.9125rem;
  --font-desktop-size-lg: 2.86625rem;
  --font-desktop-size-xl: 5.0625rem;

  /* Font Sizes for Desktop HD Displays */
  --font-desktop-hd-size-xs: 1.475rem;
  --font-desktop-hd-size-sm: 1.75rem;
  --font-desktop-hd-size-md: 2.23875rem;
  --font-desktop-hd-size-lg: 2.625rem;
  --font-desktop-hd-size-xl: 4.625rem;
  --font-desktop-hd-size-xxl: 5.6875rem;

  /* Color Definitions */
  --color-primary: #1f3c88; /* Primary text color */
  --color-primary-hover: #0053a0; /* Primary text color on hover */
  --color-error-states: red; /* Color for error states */

  /* Background Gradient Definitions */
  --background-gradient: rgb(96, 55, 222); /* Background gradient color */
  --background-gradient-linear: linear-gradient(
    90deg,
    rgba(96, 55, 222, 1) 0%,
    rgba(60, 42, 187, 1) 100%
  ); /* Linear gradient for backgrounds */

  /* Background Colors */
  --color-bg-primary: #ffff; /* Primary background color */
  --color-bg-secondary: #58a0eb; /* Secondary background color */
  --color-bg-tertiary: #f0f0f0; /* Tertiary background color */

  /* Text Colors */
  --color-text-primary: #868686; /* Primary text color */
  --color-text-secondary: #ffff; /* Secondary text color */
  --color-text-tertiary: #ffff; /* Tertiary text color */
}

/* Styling for 'main' element */

main {
  overflow-x: hidden;
}

/* Styling for 'nav' element */
nav {
  width: 8.125rem;
  left: 0.625rem;
}

/* Setting text color for links */
a {
  color: var(--color-text-tertiary);
}

/* Hover effect for 'header__menu_link' and text color for 'p' elements */
.header__menu_link:hover,
p {
  color: var(--color-text-primary);
}

/* Removing list bullets and padding from unordered lists */
ul {
  list-style: none;
  padding: 0;
}

/* Setting text color for links within list items */
ul li a {
  color: #333;
}

/* Adding left margin to list items */
li {
  margin-left: 0.9375rem;
}

/* Font family and size for headings and paragraphs */
h1,
h2,
h3 {
  font-family: Signika, sans-serif;
  font-weight: 500;
}

p {
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--font-size-sm);
}

/* Font family for 'contact-me-button' and 'header' */
#contact-me-button,
header {
  font-family: Signika, sans-serif;
}

/* Font size and positioning for various elements */
#hero__description,
#logo-slogan__copy,
header {
  font-size: var(--font-mobile-size-sm);
}

/* Styling for 'contact-me-button' */
#contact-me-button {
  border-radius: 6.25rem;
  width: 9.375rem;
  height: 2.5rem;
  background: 0 0;
  border: none;
  font-weight: 400;
  padding: 0;
  background: var(--background-gradient);
  background: var(--background-gradient-linear);
  cursor: pointer;
  outline: inherit;
}

/* Hover effect for 'contact-me-button' */
#contact-me-button:hover {
  background: var(--color-primary-hover);
}

/* Styling for 'header' */
header {
  height: 6.25rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  background-color: var(--color-bg-primary);
  position: fixed;
  z-index: 999;
}

/* Styling for the logo image in the header */
.header-logo_image {
  width: 8.125rem;
  height: 8.125rem;
}

/* Font size and positioning for the CTA button in the header */
.header__cta-button {
  font-size: var(--font-mobile-size-xs);
  position: relative;
  right: 0.3125rem;
}

/* Styling for 'hero' and its dimensions */
.hero {
  height: 28.125rem;

}

/* Positioning for 'hero__content' and 'hero__title' */
.hero__content {
  left: 0.5rem;
  top: 2.5rem;
}

/* Positioning and font size for 'hero__title' and 'hero__description' */
.hero__title {
  top: 5rem;
  font-size: var(--font-mobile-size-lg);
  width: 16.25rem;
}

#hero__description {
  top: 5.625rem;
  width: 18.125rem;
}

/* Styling for 'hero__image-content' and its dimensions */
.hero__image-content {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  z-index: 2;
}

/* Positioning and size for 'shape__image' */
.shape__image {
  position: relative;
  width: 100%;
  top: -1.875rem;
  height: 100%;
  right: 10vw;
}

/* Styling and dimensions for 'hero__image' */
.hero__image {
  position: absolute;
  top: 5.3125rem;
  left: 0.95rem;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* Styling for the 'logo' and its dimensions */
.logo {
  margin-top: 5rem;
  width: auto;
  height: 6.25rem;
}

/* Styling for 'logo-section-content' */
.logo-section-content {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Font size and margin for 'logo__copy' */
.logo__copy {
  font-size: var(--font-mobile-size-md);
  margin-bottom: -6.25rem;
}

/* Styling for 'logo__with-text' */
.logo__with-text {
  width: 70%;
}

/* Positioning, color, and font size for 'logo-slogan__copy' */
#logo-slogan__copy {
  position: relative;
  top: -5rem;
  color: var(--color-primary);
}

/* Styling for 'services' section */
.services {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5.625rem;
}

/* Styling for 'services-list-content' */
.services-list-content {
  margin-right: 1.25rem;
}

/* Styling for 'services_image' */
.services_image {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Styling for 'services__cta-container' */
.services__cta-container {
  display: flex;
  justify-content: center;
  z-index: 1;
}

/* Styling for 'services__cta' */
.services__cta {
  position: relative;
  top: 0.625rem;
}

/* Styling for 'advisors' section */
.advisors {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 1.25rem;
  margin-top: 5rem;
}

/* Styling for 'advisors__content' */
.advisors__content {
  display: grid;
  flex-direction: auto auto;
}

/* Styling for 'insurance' and 'understanding__content' */
.insurance,
.understanding__content {
  flex-direction: column;
  display: flex;
}

/* Styling for 'advisors__title' */
.advisors__title {
  margin-bottom: 0.0625rem;
  width: 15.3125rem;
  color: var(--color-primary);
}

/* Styling for 'advisors__description' */
.advisors__description {
  width: 14.1875rem;
  margin-top: 1.25rem;
}

/* Styling for 'advisors__image-content' */
.advisors__image-content {
  width: auto;
  overflow: hidden;
  position: relative;
  top: -20rem;
}

/* Styling for 'advisors__hero-image' */
.advisors__hero-image {
  position: relative;
  width: 100%;
  left: 46vw;
}

/* Styling for 'understanding' section */
.understanding {
  position: relative;
  top: -17.5rem;
  color: var(--color-text-secondary);
  height: 17.5rem;
}

/* Styling for 'understanding__background' */
.understanding__background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Styling for 'understanding__section' */
.understanding__section {
  text-align: center;
}

/* Styling for 'understanding__title' */
.understanding__title {
  text-align: center;
  position: relative;
  top: 1.25rem;
  width: 18.75rem;
  margin: auto auto 1.25rem;
  font-size: var(--font-mobile-size-lg);
}

/* Styling for 'understanding__content' */
.understanding__content {
  font-size: var(--font-mobile-size-md);
}

/* Styling for 'understanding__description' */
#understanding__description {
  text-align: center;
  margin-top: 1.25rem;
  color: var(--color-text-secondary);
}

/* Styling for 'understanding__cta-container' */
.understanding__cta-container {
  margin-top: 1.05rem;
  display: flex;
  justify-content: center;
}

/* Styling for 'protection' section */
.protection {
  position: relative;
  top: -16.25rem;
  display: flex;
  justify-content: left;
}

/* Styling for 'protection__content' */
.protection__content {
  width: 18.75rem;
}

/* Styling for 'protection__circle-description' */
.protection__circle-description {
  margin-top: 0.75rem;
  margin-left: 1.25rem;
}

/* Styling for 'circle' section */
.circle {
  position: relative;
  height: 28.125rem;
  top: -14.375rem;
  text-align: left;
}

/* Styling for 'circle__content-images' */
.circle__content-images {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

/* Styling for 'circle__hero-image' */
.circle__hero-image {
  position: absolute;
  right: 34vw;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* Styling for 'circle__protection-graphic' */
.circle__protection-graphic {
  position: relative;
  top: 0.625rem;
  height: 100%;
  width: 100%;
  left: 3.125rem;
  scale: 0.8;
}

/* Styling for 'insurance' section */
.insurance {
  width: 100%;
  margin-top: 9.375rem;
  align-items: center;
  position: relative;
  top: -18.75rem;
}

/* Styling for 'insurance-type' */
.insurance-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}

/* Styling for 'insurance-type__content' */
.insurance-type__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Styling for 'insurance-type__icon' */
.insurance-type__icon {
  margin-right: 0.625rem;
}

/* Styling for 'insurance-type__image' */
.insurance-type__image {
  width: 3.125rem;
  height: 3.125rem;
}

/* Styling for 'insurance-type__title' */
.insurance-type__title {
  font-size: var(--font-mobile-size-lg);
  margin: 0;
}

/* Styling for 'insurance-type__description' */
.insurance-type__description {
  font-size: 1rem;
  margin-left: 1.25rem;
  width: auto;
  font-size: var(--font-size-sm);
}

/* Styling for 'insurance-company_info' */
#insurance-company_info {
  color: var(--color-primary);
  margin-top: 1.25rem;
}

/* Styling for 'clients' section */
.clients {
  width: 100vw;
  position: relative;
  top: -12.5rem;
}

/* Styling for 'clients-logos_container' */
.clients-logos_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* Styling for 'clients_logos' */
.clients_logos {
  width: 80%;
  height: 80%;
}

/* Tablets Screen Styles */

@media (min-width: 768px) {
  .advisors,
  .logo,
  nav {
    position: relative;
  }
  nav {
    width: 8.125rem;
    font-size: var(--font-tablet-size-sm);
    left: 10rem;
  }
  .header__cta-button {
    font-size: var(--font-mobile-size-sm);
    right: 0.9375rem;
  }
  .hero {
    height: 0;
    top: -2.375rem;
  }
  .hero__content {
    top: 6.875rem;
  }
  .hero__title {
    margin-left: 1.25rem;
    top: 5rem;
    font-size: var(--font-tablet-size-lg);
    z-index: 2;
    width: 34.375rem;
  }
  #hero__description {
    margin-left: 1.25rem;
    top: 6.5625rem;
    width: 31.875rem;
    font-size: var(--font-mobile-size-lg);
  }
  .shape__image {
    top: -5.75rem;
    right: 10vw;
  }
  .hero__image {
    top: 13.4375rem;
    left: 7.5rem;
  }
  .logo {
    top: 48.75rem;
  }
  .advisors,
  .services {
    top: 49.375rem;
  }
  .logo__copy {
    font-size: var(--font-mobile-size-sm);
    margin-bottom: -9.375rem;
  }
  .logo__with-text {
    width: 50%;
  }
  #logo-slogan__copy {
    top: -7.5rem;
    font-size: var(--font-desktop-size-sm);
  }
  .services-list-content {
    display: flex;
    justify-content: center;
  }
  .services_image {
    width: 70%;
    height: 70%;
  }
  .advisors {
    margin-left: 4.375rem;
  }
  .advisors__title {
    width: 21.5625rem;
    font-size: var(--font-tablet-size-lg);
  }
  .advisors__description {
    width: 24.1875rem;
    font-size: var(--font-tablet-size-sm);
  }
  .advisors__image-content {
    top: -30rem;
  }
  .advisors__hero-image {
    width: 100%;
    left: 36vw;
  }
  .understanding {
    top: 15rem;
    width: 26.875rem;
    height: 23.125rem;
    margin-left: auto;
    margin-right: auto;
  }
  .understanding__title {
    font-size: var(--font-tablet-size-md);
    margin-top: 0.625rem;
    width: 25rem;
  }
  #understanding__description {
    font-size: var(--font-tablet-size-sm);
    margin-left: auto;
    margin-right: auto;
    width: 24.375rem;
    margin-top: 1.875rem;
  }
  .protection {
    top: 18.75rem;
  }
  .protection__content {
    width: 27.5rem;
  }
  .protection__circle-description {
    margin-top: 0.75rem;
    margin-left: 4.375rem;
    font-size: var(--font-tablet-size-sm);
  }
  .circle {
    top: 17.5rem;
  }
  .circle__protection-graphic {
    height: 90%;
    width: 90%;
    left: 8.75rem;
  }
  .insurance {
    top: 31.875rem;
  }
  .clients {
    top: 37.5rem;
  }
  .clients_logos {
    width: 60%;
    height: 60%;
    margin-bottom: 3.75rem;
  }
  .contact-info {
    text-align: center;
  }
  .contact {
    width: auto;
  }
  .contact_image {
    width: 12.5rem;
    height: 12.5rem;
  }
}

/* Styles for big screen tablets and small laptops */

@media (min-width: 1024px) {
  .header__cta-button,
  nav {
    font-size: var(--font-desktop-size-sm);
  }
  .advisors,
  .logo,
  .logo__copy,
  nav {
    position: relative;
  }
  nav {
    width: 8.125rem;
    left: 10rem;
  }
  .header__cta-button {
    right: 1.5625rem;
  }
  .header-logo_image {
    width: 12.5rem;
    height: 12.5rem;
  }
  #contact-me-button {
    width: 27.5rem;
    height: 4.375rem;
  }
  .hero {
    top: -8.75rem;
  }
  .hero__content {
    top: 12.25rem;
    left: 1rem;
  }
  .hero__title {
    margin-left: 0;
    font-size: var(--font-desktop-hd-size-xl);
    width: 51.25rem;
  }
  #hero__description,
  .logo__copy {
    font-size: var(--font-desktop-size-md);
  }
  #hero__description {
    margin-left: 0.625rem;
    width: 40rem;
  }
  .hero__image {
    top: 17.1875rem;
    left: 7.5rem;
  }
  .logo {
    top: 59.375rem;
  }
  .clients-logos_container,
  .logo-section-content {
    width: auto;
  }
  .logo__copy {
    top: 1.875rem;
  }
  #logo-slogan__copy,
  .insurance__cta,
  .services__cta {
    font-size: var(--font-desktop-size-sm);
  }
  .logo__with-text {
    width: 50%;
  }
  #logo-slogan__copy {
    top: -9.375rem;
  }
  .services {
    top: 71.875rem;
  }
  .advisors {
    top: 80.625rem;
    margin-left: 4.375rem;
  }
  .advisors__title {
    width: 30.9375rem;
    margin-bottom: 1.25rem;
    font-size: var(--font-desktop-size-xl);
  }
  .advisors__description {
    width: 44.1875rem;
    font-size: var(--font-desktop-size-sm);
  }
  .advisors__image-content {
    top: -46.875rem;
  }
  .advisors__hero-image {
    left: 46vw;
  }
  .understanding {
    top: 40rem;
    width: 51.875rem;
    height: 35.625rem;
  }
  .understanding__title {
    font-size: var(--font-desktop-size-lg);
    margin-top: 3.75rem;
    width: 37.5rem;
  }
  #understanding__description,
  .insurance,
  .protection__circle-description,
  .understanding__cta {
    font-size: var(--font-desktop-size-sm);
  }
  #understanding__description {
    width: 46.875rem;
  }
  .understanding__cta {
    margin-top: 1.25rem;
  }
  .protection {
    top: 46.25rem;
  }
  .protection__content {
    width: 48.125rem;
  }
  .protection__circle-description {
    margin-top: 2.625rem;
  }
  .circle {
    top: 44.375rem;
    right: 8.125rem;
    scale: 0.8;
  }
  .insurance {
    top: 75.625rem;
  }
  .insurance-type__title {
    font-size: var(--font-size-lg);
  }
  .insurance-type__description {
    font-size: 1rem;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 48.75rem;
    font-size: var(--font-desktop-sm);
  }
  #insurance-company_info {
    color: var(--color-primary);
    margin-top: 3.125rem;
  }
  .clients {
    top: 81.25rem;
    width: auto;
  }
  .clients_logos {
    width: 50%;
    height: 50%;
    margin-bottom: 6.25rem;
  }
}

/* Styling for HD screen devices */

@media (min-width: 1280px) {
  nav {
    left: 15.625rem;
  }
  .header__cta-button {
    right: 2.1875rem;
  }
  .hero {
    top: -10.625rem;
  }
  .hero__content {
    top: 12.25rem;
  }
  .hero__title {
    margin-left: -0.625rem;
    font-size: var(--font-desktop-size-xl);
    width: 51.25rem;
    font-weight: 400;
  }
  #hero__description {
    margin-left: -0.625rem;
    width: 40rem;
    font-size: var(--font-desktop-size-md);
  }
  .shape__image {
    position: relative;
    width: 85%;
    height: 85%;
    right: 5rem;
  }
  .hero__image {
    top: 14.6875rem;
    width: 85%;
    height: 95%;
    left: 21.25rem;
  }
  .logo {
    top: 46.875rem;
  }
  .logo__copy {
    top: 5rem;
  }
  #logo-slogan__copy {
    font-size: var(--font-desktop-size-xs);
    top: -12.5rem;
  }
  .services {
    top: 56.875rem;
  }
  .services_image {
    width: 65%;
    height: 65%;
  }
  .advisors {
    position: relative;
    top: 58.75rem;
  }
  .understanding {
    top: 6.25rem;
  }
  .understanding__title {
    font-size: var(--font-desktop-size-lg);
    width: 31.25rem;
    margin: auto;
    position: relative;
    top: 3.125rem;
  }
  #understanding__description {
    position: relative;
    width: 46.25rem;
    top: 3.75rem;
  }
  .understanding__cta {
    position: relative;
    top: 5rem;
  }
  .circle,
  .protection {
    top: 12.5rem;
  }
  .insurance {
    top: 43.75rem;
  }
  .clients {
    top: 50rem;
  }
  .clients_logos {
    margin-bottom: 9.375rem;
  }
}

/* FHD Screen Styles */

@media (min-width: 1920px) {
  header {
    height: 10rem;
  }
  nav {
    left: 25rem;
  }
  .header__cta-button {
    font-size: var(--font-desktop-size-md);
    right: 1.5625rem;
    width: 26.25rem;
  }
  .header-logo_image {
    width: 21.875rem;
    height: 21.875rem;
  }
  #contact-me-button {
    width: 38.75rem;
    height: 5.625rem;
  }
  .hero {
    top: -27.125rem;
  }
  .hero__content {
    top: 42.625rem;
    left: -4rem;
  }
  .hero__title {
    margin-left: 10rem;
    font-size: var(--font-desktop-hd-size-xxl);
    width: 57.5rem;
  }
  #hero__description {
    margin-top: 1.25rem;
    margin-left: 10rem;
    width: 45rem;
    font-size: var(--font-desktop-hd-size-md);
  }
  .shape__image {
    scale: 1.6;
    top: 30rem;
    right: 1.625rem;
  }
  .hero__image {
    top: 40.9375rem;
    scale: 1.6;
    left: 50rem;
  }
  .logo {
    top: 68rem;
  }
  .logo__copy {
    font-size: var(--font-desktop-hd-size-lg);
    margin-bottom: -18.75rem;
  }
  #logo-slogan__copy {
    font-size: var(--font-desktop-hd-size-xs);
    top: -20rem;
  }
  .services {
    top: 93.75rem;
  }
  .services_image {
    width: 45%;
    height: 45%;
  }
  .insurance__cta,
  .services__cta,
  .understanding__cta {
    font-size: var(--font-desktop-hd-size-md);
  }
  .advisors {
    top: 96.875rem;
  }
  .advisors__content {
    position: relative;
    top: 12.5rem;
  }
  .advisors__title {
    font-size: var(--font-desktop-hd-size-xxl);
    width: 37.5rem;
    margin-left: 10rem;
  }
  .advisors__description {
    font-size: var(--font-desktop-hd-size-sm);
    margin-left: 10rem;
  }
  .advisors__hero-image {
    top: -11.875rem;
    right: 15rem;
  }
  .understanding {
    top: -1.25rem;
    height: 40.625rem;
  }
  .understanding__title {
    font-size: var(--font-desktop-hd-size-xl);
    width: 49.375rem;
  }
  #understanding__description {
    width: 46.875rem;
  }
  .protection {
    top: 3.125rem;
    margin-left: 13.75rem;
  }
  .insurance-type__description,
  .protection__circle-description {
    font-size: var(--font-desktop-hd-size-sm);
  }
  .circle {
    top: -12.5rem;
    right: 13.75rem;
  }
  .circle__protection-graphic {
    left: 26.25rem;
  }
  .insurance {
    top: 35rem;
  }
  .insurance-type__title {
    font-size: var(--font-desktop-hd-size-lg);
  }
  .company-info {
    font-size: var(--font-desktop-hd-size-xs);
  }
  .clients {
    top: 40.625rem;
  }
  .clients_logos {
    width: 40%;
    height: 40%;
    margin-bottom: 9.375rem;
  }
}

/* QHD Screen Styles */

@media (min-width: 2560px) {
  nav {
    left: 43.75rem;
  }
  .hero {
    top: -30.625rem;
  }
  .hero__content {
    top: 49.375rem;
  }
  .shape__image {
    right: -13.125rem;
    top: 34rem;
    scale: 1.7;
  }
  .hero__image {
    left: 84.375rem;
    top: 55rem;
    scale: 1.7;
  }
  .logo {
    top: 92.5rem;
  }
  .logo__copy {
    margin-bottom: -28.125rem;
  }
  #logo-slogan__copy {
    top: -26.25rem;
  }
  .services {
    top: 131.25rem;
  }
  .advisors {
    top: 121.875rem;
  }
  .advisors__description,
  .advisors__title {
    position: relative;
    top: 9.375rem;
  }
  .advisors__hero-image {
    top: -3.125rem;
    left: 62.5rem;
  }
  .circle {
    top: -12.5rem;
    right: 18.125rem;
  }
  .circle__protection-graphic {
    left: 51.25rem;
  }
  .insurance {
    top: 60rem;
  }
  .clients {
    top: 65.625rem;
  }
}

/* 4K Screen Styles */

@media (min-width: 3840px) {
  nav {
    left: 81.25rem;
  }
  .hero {
    top: -38.75rem;
  }
  .hero__content {
    top: 71.25rem;
    left: 10rem;
  }
  .hero__description,
  .hero__title {
    left: 9.375rem;
  }
  .shape__image {
    right: -26.25rem;
    top: 55rem;
    scale: 2.4;
  }
  .hero__image {
    left: 144.375rem;
    top: 85rem;
    scale: 2.4;
  }
  .logo {
    top: 121.25rem;
  }
  .logo__copy {
    margin-bottom: -38.125rem;
  }
  #logo-slogan__copy {
    top: -43.75rem;
  }
  .services {
    top: 168.75rem;
  }
  .advisors {
    top: 153.125rem;
  }
  .advisors__description,
  .advisors__title {
    position: relative;
    top: 34.375rem;
    margin-left: 37.5rem;
  }
  .advisors__hero-image {
    top: -3.125rem;
    left: 106.25rem;
  }
  .protection {
    top: 25rem;
    margin-left: 37.5rem;
  }
  .circle {
    top: 3.125rem;
    right: 24.375rem;
  }
  .insurance {
    top: 135rem;
  }
  .clients {
    top: 146.875rem;
  }
}